/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	width: 1920px;
	height: 2496px;	
}
.ul{
	display:flex;
	flex-wrap: wrap;		
	margin: 0 auto;
	padding-left: 300px;
	padding-right: 300px;	
	
	
}

.ul li{
	
	width: 416px;
	height: 476px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 12px;
	padding-left: 12px;
}

.ul li img{
	width: 416px;
	height: 200px;
	padding-bottom: 16px;
}

.ul li time{
	width: 86px;
	font-size:24px;
}

.ul li h3{	
	font-size 36px;
	color:blue;
}

.ul li h2{
	font-size: 28px;
	font-weight: bold;
	line-height: 150%;
}

.ul li p{
	font-size: 16px;
	line-height: 150%;
	padding-bottom: 16px;
}

.ul li a{
	width: 96px;
	height: 40px;
	font-size: 16px;
	border:1px solid black;
	border-radius: 40px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.ul li a:hover{
	background:green;
	color:#fff;
}